@model IEnumerable<HeritageWalksTrail.Models.Admin>
@{
    ViewData["Title"] = "Admin list";
}
<h2>Admin list</h2>


<form asp-controller="Admin" asp-action="New" method="post">
    <button type="submit">New</button>
</form>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Admin ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
    }
</table>